<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	https://www.springframework.org/schema/beans/spring-beans.xsd">
	
	
	<!-- <bean id="student" class="com.xml.Model.Student" >
	 when we are using setter injection than we use <property name=""></property> tag 
		<property name="roll" value="120" />
		<property name="name" value="pradeep" />
		<property name="marks" value="900" />
	
	 </bean> -->
	 
	 <bean id="address" class="com.xml.Model.Address" >
	
		<property name="city" value="Pune" />
		<property name="state" value="MH" />
		<property name="pinCode" value="485751" />
	
	 </bean> 
	 
	 
	 <bean id="student3" class="com.xml.Model.Student">
	<!-- when we use cunstructor injection dependency ijenjection -->
	 	<constructor-arg name="roll" value="150" />
	 	<constructor-arg name="name" value="mayank dwidesi" />
	 	<constructor-arg name="marks" value="940" />
	 	<constructor-arg name="address" ref="address" />
	 		 
	 </bean>
	
	
	
</beans>
